@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:700&display=swap');
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e5w53f');
  src:  url('fonts/icomoon.eot?e5w53f#iefix') format('embedded-opentype'),
    url('fonts/icomoon.svg?e5w53f#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
}
.container {
	width: 1143px;
	margin: 0 auto;
}
ul {
	list-style-type: none;
}
li {
	display: inline-block;
}
a {
	text-decoration: none;
	text-transform: uppercase;
	color: #777;
	font-size: 14px;
	letter-spacing: 1px;
}
p {
	color: #9c9c9c;
	font-family: 'Roboto', sans-serif;
}
/*Header*/
header img {
	padding: 27px 0;
}
header {
	height: 90px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	box-shadow: 1px 6px 4px -4px lightgrey;
}
.head_menu {
	float: right;
}
.head_menu li:last-child {
	font-family: 'icomoon';
	padding-right: 15px;
}
.head_menu  li{
	padding: 37px 23px 0 20px;
}
/*Main*/
main {
	background-color: #fafafa;
	position: relative;
}
/*Footer*/
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 300px;
	box-shadow: 1px -6px 4px -4px lightgrey;
}
footer img {
	display: block;
	margin: 64px auto 44px auto;
}
.footer_menu ul {
	display: flex;
	justify-content: center;
	font-family: 'icomoon';
	border-top: 2px solid #ebebeb;
	border-bottom: 2px solid #ebebeb;
}
.footer_menu li {
	padding: 23px 28px;
}
footer p {
	text-align: center;
	text-transform: uppercase;
	font-size: 13px;
	margin: 35px 0 45px 0;
}
.black {
	color: black;
}
