.contact {
	display: flex;
	justify-content: space-between;
}
.contact__head h1 {
    letter-spacing: 7px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 10px 0;
}
.contact__head p {
	color: #2f302f;
}
.contact__head {
	padding-bottom: 15px;
	position: relative;
	margin-bottom: 40px;
}
.contact__head::after {
	content: ' ';
	width: 55px;
	position: absolute;
	bottom: 0;
	border-bottom: 1px solid black;
}

.contact__info {
	font-size: 15px;
	color: #777777;
}
.numbers p{
	color: #555555;
	font-weight: bold;
	margin-bottom: 5px;

}
.bold {
	font-weight: bold;
	color: #222222;
}
.worktime,
.address {
	margin-bottom: 25px;
}

.contact__forms textarea,
.contact__forms button {
	display: block;
}
.contact__forms input,
.contact__forms textarea {
	border: 1px solid #ebebeb;
	outline: none;
	width: 345px;
	height: 40px;
	background-color: white;
	padding-left: 15px;
	font-size: 14px;
	color: #bababa;
	font-style: italic;
	margin-bottom: 30px;
}
.contact__forms input:first-child {
	margin-right: 30px;
}
.contact__forms input:hover,
.contact__forms textarea:hover { 
	border: 1px solid #a3a2a2;
}
.contact__forms input:focus,
.contact__forms textarea:focus {
	border-left: 3px solid #afafaf;
}
.contact__forms textarea {
	height: 140px;
	width: 740px;
	padding-top: 10px;
	resize: none;
}
.contact__forms button {
	text-transform: uppercase;
	background-color: black;
	color: white;
	font-weight: bold;
	font-size: 14px;
	border: none;
	border-radius: 2px;
	width: 220px;
	height: 40px;
	transition: .5s;
	outline: none;
}
.contact__forms button:hover {
	opacity: 0.5;
}
.contact__forms button:active {
	background-color: white;
	color: black;
	border: 1px solid black;
}
.map {
	margin: 80px 0 65px 0;
}

.values__head h1,
.values__item h2 {
	letter-spacing: 7px;
    text-transform: uppercase;
    font-weight: 300;
}
.values__head p,
.values__item p {
	color: #777777;
    line-height: 30px;
    font-size: 14px;
    font-weight: 400;
}
.values__head h1 {
	text-align: center;
	font-size: 30px;
    margin-bottom: 35px;
}
.values__head p {
	text-align: center;
    max-width: 615px;
    margin: 0 auto 60px auto;
}
.values__item h2 {
	font-size: 18px;
	margin: 20px 0 35px 0;
}
.values__list {
	display: flex;
	justify-content: space-between;
}
.values__item {
	width: 354px;
}
