@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');
/*slider*/
.slider__img {
	width: 100%;
	max-height: 650px;
	overflow: hidden;
}
.slider__img img {
	width: 100%;
}
.slider__elem {
	position: relative;
}
.slider {
	margin-bottom: 33px;
}
